<p id="notice"><%= notice %></p>

<h1>Listas de Departamentos</h1>

<table class="table table-bordered">
      <thead>
        <tr>
          <th>Id Departamento</th>
          <th>Nombre Departamento</th>
          <th>Nombre Creador</th>
          <th>Nombre de Encargado de Departamento</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
      <% @departamentos.each do |departamento| %>
        <tr>
          <th scope="row"><%= departamento.id %></th>
          <td><%= departamento.nombre %></td>
          <td><%= departamento.user.name %></td>
          <td><%= departamento.supervisor %></td>
          <td>
              <%= link_to 'Mostrar', departamento, class: "glyphicon glyphicon-eye-open btn btn-primary"%> 
              <%= link_to 'Editar', edit_departamento_path(departamento), class: 'glyphicon glyphicon-pencil btn btn-success' %>
              <%= link_to 'Eliminar', departamento, method: :delete, data: { confirm: 'Estas seguro de que quieres eliminar este registro?' }, class: 'glyphicon glyphicon-trash btn btn-danger' %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>


<% if user_signed_in? %>
  <% if current_user.try(:admin?) %>
    <%= link_to 'Crear un nuevo Departamento', new_departamento_path, class: "btn btn-primary" %>
  <% end %>
<% end %>


