<p id="notice"><%= notice %></p>

<p>
  <strong>Cod:</strong>
  <%= @trabajo.cod %>
</p>

<p>
  <strong>Fecha bloqueo:</strong>
  <%= @trabajo.fecha_bloqueo %>
</p>

<p>
  <strong>Fecha lib:</strong>
  <%= @trabajo.fecha_lib %>
</p>

<p>
  <strong>Hora estimada:</strong>
  <%= @trabajo.hora_estimada %>
</p>


<%= link_to 'Back', departamento_trabajos_path %>
